#main-content {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  color: white;
  font-size: 50px;
  font-family: 'Homemade Apple', cursive;
  text-align: right;
  padding-top: 30px;
  padding-right: 10px;
  padding-left: 55px;
  margin: 0;
}

#top-section h1 {
  font-size: 70px;
  padding-top: 130px;
  margin: 0;
  text-align: center;
}

@media only screen and (min-width: 769px) {
  h1 {
    font-size: 65px;
    padding-left: 110px;
    padding-top: 60px;
    text-align: left;
  }
}

#side-nav-bar {
  display: flex;
  align-items: center;
  position: fixed;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
}

#pagination {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  #pagination {
    margin-bottom: 60px;
  }
}

#pagination .scroll-button {
  height: 35px;
  width: 35px;
  margin: 10px;
  background-image: url('/images/scroll_button_default.png');
  background-size: contain;
  
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

#pagination .scroll-button:hover {
  cursor: pointer;
}

#pagination .scroll-button.active {
  opacity: 1.0;
  background-image: url('/images/scroll_button_active.png');
}

#top-section { 
  background-image: url('/images/shotstash_surf.jpg');
}

@media only screen and (max-width: 768px) {
  #top-section {
    background-image: url('/images/shotstash_surf_mobile.jpg');
  }
}

#france-surf-section {
  background-image: url('/images/brittany-surf.jpg');
}

@media only screen and (max-width: 768px) {
  #france-surf-section {
    background-image: url('/images/brittany-surf-mobile.jpg');
  }
}

#taiwan-surf-section {
  background-image: url('/images/taiwan-surf.jpg');
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  #taiwan-surf-section {
    background-image: url('/images/taiwan-surf-mobile.jpg');
  }
}

#south-africa-surf-section {
  background-image: url('/images/jeffreys-bay.jpg');
}

@media only screen and (max-width: 768px) {
  #south-africa-surf-section {
    background-image: url('/images/jeffreys-bay-mobile.jpg');
  }
}

#australia-surf-section {
  background-image: url('/images/gold-coast.jpg');
}

@media only screen and (max-width: 768px) {
  #australia-surf-section {
    background-image: url('/images/gold-coast-mobile.jpg');
  }
}

#brazil-surf-section {
  background-image: url('/images/florianopolis.jpg');
}

@media only screen and (max-width: 768px) {
  #brazil-surf-section {
    background-image: url('/images/florianopolis-mobile.jpg');
  }
}

.divider-section { 
  height: 50vh;
  background-color: #2f393e;
}

.fixed-background-section {
  height: 100vh;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 768px) {
  .fixed-background-section {
    background-size: cover;
    background-attachment: scroll;
  }
}



