#side-nav-bar {
  display: flex;
  align-items: center;
  position: fixed;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
}

#pagination {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  #pagination {
    margin-bottom: 60px;
  }
}

#pagination .scroll-button {
  height: 35px;
  width: 35px;
  margin: 10px;
  background-image: url('/images/scroll_button_default.png');
  background-size: contain;
  
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

#pagination .scroll-button:hover {
  cursor: pointer;
}

#pagination .scroll-button.active {
  opacity: 1.0;
  background-image: url('/images/scroll_button_active.png');
}

#top-section { 
  background-image: url('/images/shotstash_surf.jpg');
}

#france-surf-section {
  background-image: url('/images/brittany-surf.jpg');
}

#taiwan-surf-section {
  background-image: url('/images/taiwan-surf.jpg');
}

#south-africa-surf-section {
  background-image: url('/images/jeffreys-bay.jpg');
}

#australia-surf-section {
  background-image: url('/images/gold-coast.jpg');
}

#brazil-surf-section {
  background-image: url('/images/florianopolis.jpg');
}

.divider-section { 
  height: 100vh;
  background-color: white;
}

.fixed-background-section {
  height: 100vh;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  .fixed-background-section {
    background-attachment: scroll;
  }
}



