body {
  background-color: #fffcf6;
}

#main-content {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #2f393e;
}

h1 {
  color: white;
  font-size: 50px;
  font-family: 'Homemade Apple', cursive;
  text-align: right;
  padding-top: 30px;
  padding-right: 10px;
  padding-left: 55px;
  margin: 0;
}

#top-section h1 {
  font-size: 70px;
  padding-top: 130px;
  margin: 0;
  text-align: center;
}

@media only screen and (min-width: 769px) {
  h1 {
    font-size: 65px;
    padding-left: 110px;
    padding-top: 60px;
    text-align: left;
  }
}

#side-nav-bar {
  display: flex;
  align-items: center;
  position: fixed;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
  z-index: 999;
}

#pagination {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  #pagination {
    margin-bottom: 60px;
  }
}

#pagination .scroll-button {
  height: 35px;
  width: 35px;
  margin: 10px;
  background-image: url('/images/scroll_button_default.png');
  background-size: contain;
  
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

#pagination .scroll-button:hover {
  cursor: pointer;
}

#pagination .scroll-button.active {
  opacity: 1.0;
  background-image: url('/images/scroll_button_active.png');
}

#top-section { 
  background-image: url('/images/shotstash_surf.jpg');
}

@media only screen and (max-width: 768px) {
  #top-section {
    background-image: url('/images/shotstash_surf_mobile.jpg');
  }
}

#france-surf-section {
  background-image: url('/images/brittany-surf.jpg');
}

@media only screen and (max-width: 768px) {
  #france-surf-section {
    background-image: url('/images/brittany-surf-mobile.jpg');
  }
}

#taiwan-surf-section {
  background-image: url('/images/taiwan-surf.jpg');
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  #taiwan-surf-section {
    background-image: url('/images/taiwan-surf-mobile.jpg');
  }
}

#south-africa-surf-section {
  background-image: url('/images/jeffreys-bay.jpg');
}

@media only screen and (max-width: 768px) {
  #south-africa-surf-section {
    background-image: url('/images/jeffreys-bay-mobile.jpg');
  }
}

#australia-surf-section {
  background-image: url('/images/gold-coast.jpg');
}

@media only screen and (max-width: 768px) {
  #australia-surf-section {
    background-image: url('/images/gold-coast-mobile.jpg');
  }
}

#brazil-surf-section {
  background-image: url('/images/florianopolis.jpg');
  background-position: 30%;
  background-size: inherit;
}

@media only screen and (max-width: 768px) {
  #brazil-surf-section {
    background-image: url('/images/florianopolis-mobile.jpg');
    background-position: center;
  }
}

#footer-section { 
  height: 80px;
  background-color: #2f393e;
}

.divider-section { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  background-color: #2f393e;
}

.fixed-container {
  position: relative;
  height: 100%;
}

.fixed-background-section {
  height: 100vh;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 800px;
}

.fixed-background-section p {
  color: white;
  background-color: #2f393e;
  display: inline-block;
  position: absolute;
  opacity: 0.7;
  font-family: Oswald;
  padding: 35px 15px;
}

@media only screen and (max-width: 768px) {
  .fixed-background-section {
    background-attachment: scroll;
  }
}

.flag-icon {
  height: 26px;
  width: 39px;
  margin: 0 auto;
}

.fa-arrow-down {
  color: white;
  padding-top: 20px;
  text-align: center;
  margin: 0 auto;
  height: 15px;
  width: 15px;
}

@media only screen and (min-width: 769px) {
  #top-section p {
    max-width: 250px;
    bottom: 60px;
    right: 85px;
  }
  
  #france-surf-section p {
    max-width: 250px;
    bottom: 60px;
    left: 85px;
  }
  
  #taiwan-surf-section p {
    max-width: 200px;
    bottom: 90px;
    left: 125px;
  }
  
  #south-africa-surf-section p {
    max-width: 200px;
    bottom: 60px;
    right: 85px;
  }
  
  #australia-surf-section p {
    max-width: 200px;
    bottom: 90px;
    left: 90px;
  }
  
  #brazil-surf-section p {
    max-width: 200px;
    top: 90px;
    right: 125px;
  }
}

@media only screen and (max-width: 768px) {
  .fixed-background-section p {
    display: block;
    position: absolute;
    bottom: 15px;
    margin: 0;
    padding: 15px 15px 15px 70px;
  }
}